.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
core/data_raw/*.csv
core/data_sorted/*.csv
core/builder/*.csv
.idea/
.idea/copilot.data.migration.agent.xml
__pycache__/
core/processor/__pycache__/
tests/__pycache__/
tests/data_raw